   <div class="employee-management">
    <h2>Employee Management</h2>
    <button mat-flat-button color="primary" (click)="openAddDialog()">Add Employee</button>
    
    <div class="search-container">
      <mat-form-field appearance="outline">
        <mat-label>Search Employees</mat-label>
        <input matInput [(ngModel)]="searchQuery" (ngModelChange)="filterEmployees()" placeholder="Search by name, email, or designation">
      </mat-form-field>
    </div>
  
    <div *ngIf="pagedEmployees.length === 0">
      <p>No employees found.</p>
    </div>
  
    <mat-card class="employee-card" *ngFor="let emp of pagedEmployees">
      <div class="employee-info">
        <img [src]="emp.avatar_url" alt="Avatar" width="60" height="60" class="avatar">
        <div class="details">
          <h3>{{ emp.name }}</h3>
          <p><strong>Company:</strong> {{ emp.company_name }}</p>
          <p><strong>Email:</strong> {{ emp.email }}</p>
          <p><strong>Contact:</strong> {{ emp.contact_no }}</p>
          <p><strong>Designation:</strong> {{ emp.designation }}</p>
        </div>
      </div>
      <div class="actions">
        <button  (click)="openDetailDialog(emp)">View</button>
        <button  (click)="openEditDialog(emp)">Edit</button>
        <button  (click)="openDeleteDialog(emp)">Delete</button>
      </div>
    </mat-card>
  
    <div class="pagination-controls" *ngIf="totalPages > 1">
      <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button  (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
   